<nav class="mb-6">
  <div class="py-4 container flex flex-col gap-3 border-b-gray-300 border-b">
    <a href="/" class="font-bold font-serif text-3xl">
      {{ global.siteName }}
    </a>
    <div class="flex items-center gap-5">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </div>
  </div>
</nav>