---
pagination:
  data: articles
  size: 5
---

<div class="container space-y-6 pb-6">
  <section>
    {%- from "macros/blocks.njk" import render_blocks -%}
    {{ render_blocks(content, env) }}
  </section>
  <section>
    <h1 class="title">Articles</h2>
    <ul class="flex flex-col gap-4">
      {% for item in pagination.items %}
        <li>
          <article class="flex flex-col gap-2 -mx-8 px-8 py-6 transition-colors hover:bg-blue-100/50">
            {% if item.cover.data %}
              <img src="{{env.API_URL}}{{item.cover.data.attributes.formats.medium.url}}" alt="" class="w-full mb-4 rounded">
            {% endif %}
            <h3 class="font-bold text-lg font-serif">{{ item.title }}</h3>
            <p>{{ item.description }}</p>
            <p class="text-sm text-gray-600">
              Posted by {{item.author.data.attributes.name}} 
              under {{ item.category.data.attributes.name }}
            </p>
            <a href="/{{item.slug}}" class="font-bold underline mt-4">Read more</a>
          </article>
        </li>
      {% endfor %}
    </ul>
    <nav aria-label="Pages">
      <ol class="flex items-center gap-4 flex-wrap mt-4">
        {%- for pageEntry in pagination.pages %}
          <li>
            <a 
              href="{{ pagination.hrefs[ loop.index0 ] }}"
              {% if page.url == pagination.hrefs[ loop.index0 ] %}aria-current="page"{% endif %} 
              class="{% if page.url == pagination.hrefs[ loop.index0 ] %}font-bold text-blue-600{% endif %} text-sm underline"
            >
              Page {{ loop.index }}
            </a>
          </li>
        {%- endfor %}
      </ol>
    </nav>
  </section>
</div>